*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ======= Header ========= */

main,header{
    width: 20%;
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

header{
    margin-top: 1em;
    margin-bottom: 2em;
    color: #0A72B3;
    font-size: 1em;
}


.tweet-input{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.logo-img{
    width: 60px;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
    margin-right: 1em;
}

.reply-logo-img{
    margin-right: 0;
}


/* ======= text-area and btn ======= */

textarea{
   width: 100%;
   height: 80px;
   min-width: 200px;
   resize: none;
   padding: .5em;
   font-size: 1.2em;
   border: none;
}

.reply-tweet-area{
    height: 50px;
    margin: 0 .4em;
}

.tweet-btn{
    width: 100%;
    min-width: 180px;
    margin: 1em 0;
    padding: .6em 0;
    border-radius: 30px;
    border: none;
    background-color: #1DA1F2;
    color: white;
    cursor: pointer;
    font-size: 1.4em;   
}

.reply-tweet-input{
    margin: 1em 0;
}

.reply-tweet-btn{
    font-size: 1em;
    width: 100%;
    min-width: 80px;
    margin: 0;
}

.tweet-btn:hover,
.reply-tweet-btn:hover{
    opacity: .8;
}


/* ======== Main ========= */

.tweet{
    margin-bottom: 1em;
    padding-top: 1em;
}

.tweet-inner{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid lightgray;
    padding-top: 1em;
}

.tweet-reply{
    width: 80%;
    margin: 0 2.5em;
}

.profile-pic{
    width: 15%;
    border-radius: 50%;
    background-color: rgb(228, 226, 226);
    margin-right: 1em;
}

.handle{
    margin-bottom: .4em;
    font-size: .875em;
    font-weight: bold;
}

.tweet-text{
    margin-bottom: 1.6em;
    line-height: 1.5;
    width: 250px;
}

.tweet-details{
    display: flex;
    justify-content: space-between;
}

.hidden{
    display: none;
}

.fa-solid{
    color: #999;
}

.fa-solid,
.fa-regular{
    cursor: pointer;
}

.liked{
    color: rgb(241, 43, 43);
}

.retweeted{
    color: rgb(61, 240, 61);
}